div {
  margin-top: 73px;
  margin-left: 30px;
  display: grid;
  grid-template: repeat(15, 33.5px)/ 165px 210px;
  grid-column-gap: 49px;

  output {
    line-height: 1;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  #description {
    font-size: 10px;
  }
}
