p {

  margin-top: 3%;
  font-family: monospace;
  text-align: center;
  letter-spacing: 2px;
  font-size: 30px;
  color: #111111;

}

div {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 60px auto;
  padding: 20px;
  border: 2px silver solid;
  border-radius: 5px;
  width: 350px;
  background-color: #eeeeee;

  input {

    margin: 5px;
    border-radius: 5px;
    text-align: center;

  }

  button {

    font-size: 15px;
    padding: 3px;
    margin-top: 10px;

  }
}
