<ng-container *ngIf="!correctUser">

  <p>Warhammer Online Character Sheet</p>
  <form>

    <div>
        <input type="email" class="form-control" placeholder="Email" name="email" [(ngModel)]="email">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password" name = "password" [(ngModel)]="password">
        <button type="submit" value="Log In" (click) = "submit()" class = "btn btn-primary">Log in</button>
        <button (click) = "register()" routerLink = "/registration" class = "btn btn-secondary">register</button>


      <ng-container *ngIf="wrongUser">

        <span>Wrong username or password</span>

      </ng-container>

    </div>

  </form>

</ng-container>
<ng-container *ngIf="correctUser">

  <app-navigation-bar></app-navigation-bar>

</ng-container>
