div {
  margin-top: 68px;
  margin-left: 5px;
  display: grid;
  grid-template: repeat(6, 32px)/ 128px repeat(4, 48px) 51px 1fr;
  line-height: 1;

  output {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
}
