#sheet{

  color: black;
  font-size: 16px;
  font-family: "Century Schoolbook L",sans-serif;

  #firstCard{

    background-image: url("../../../assets/Karta_top.png");
    width: 980px;
    height: 1338px;
    display: grid;
    grid-template-columns: 473px 475px;
    grid-column-gap: 31px;

    #firstHalf{

      display: grid;
      grid-template-rows: 155px 230px 292px 263px 340px;
      grid-row-gap: 13px;

    }

    #secondHalf{

      display: grid;
      grid-template-rows: 235px 70px 66px 632px 262px;
      grid-row-gap: 13px;

    }

  }

  #secondCard{

    background-image: url("../../../assets/Karta_bot.png");
    width: 981px;
    height: 1361px;
    display: grid;
    grid-template-columns: 473px 475px;
    grid-column-gap: 31px;

    #firstSide{

      height: 1354px;

    }

    #secondSide{

      display: grid;
      grid-template-rows: 605px 575px 135px;
      grid-row-gap: 13px;

    }

  }

}

