#start {

  color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 60px auto;
  padding: 20px;
  border: 2px silver solid;
  border-radius: 10px;
  background-color: #eeeeee;
  font-family: monospace;
  overflow: hidden;
  position: fixed;

}
