<div>
  <output id="age" >{{age}}</output>
  <output id="gender" >{{gender}}</output>
  <output id="eyeColor" >{{eyeColour}}</output>
  <output id="weight" >{{weight}}</output>
  <output id="hairColor" >{{hairColour}}</output>
  <output id="height" >{{height}}</output>
  <output id="starSign" >{{starSign}}</output>
  <output id="numberOfSiblings" >{{numberOfSiblings}}</output>
  <output id="birthPlace" >{{birthPlace}}</output>
  <output id="distinguishingMarks" >{{distinguishingMarks}}</output>
</div>
