div {
  margin-top: 35px;
  margin-left: 5px;
  display: grid;
  grid-template: repeat(6, 32px) / 50% 50%;

  output {
    display: flex;
    align-items: center;
  }

  #age {
    margin-left: 42px;
  }

  #gender {
    margin-left: 46px;
  }

  #eyeColor {
    margin-left: 78px;
  }

  #weight {
    margin-left: 48px;
  }

  #hairColor {
    margin-left: 92px;
  }

  #height {
    margin-left: 59px;
  }

  #starSign {
    margin-left: 98px;
  }

  #numberOfSiblings {
    margin-left: 88px;
  }

  #birthPlace {
    grid-column: span 2;
    margin-left: 115px;
  }

  #distinguishingMarks {
    grid-column: span 2;
    margin-left: 115px;
  }
}
