<div id="sheet">
  <div id="firstCard">
    <div id="firstHalf">

      <div id="character"><app-character></app-character></div>
      <div id="personalDetails"><app-personal-details></app-personal-details></div>
      <div id="characterProfile"><app-character-profile></app-character-profile></div>
      <div id="weapons"><app-weapons></app-weapons></div>
      <div id="armour"><app-armour></app-armour></div>

    </div>
    <div id="secondHalf">

      <div id="player"><app-player></app-player></div>
      <div id="experiencePoints"><app-experience-points></app-experience-points></div>
      <div id="combatMovement"><app-combat-movement></app-combat-movement></div>
      <div id="armourPoints"><app-armour-points></app-armour-points></div>
      <div id="actionSummary"><app-action-summary></app-action-summary></div>

    </div>
  </div>
  <div id="secondCard">
    <div id="firstSide">

      <div id="skills"><app-skills></app-skills></div>

    </div>
    <div id="secondSide">

      <div id="talents"><app-talents></app-talents></div>
      <div id="trappings"><app-trappings></app-trappings></div>
      <div id="money"><app-money></app-money></div>

    </div>
  </div>
</div>
