div {

  margin: 5px;
  padding: 5px;
  font-size: 14px;

}
label {

display: flex;
padding: 5px;

}
input {

  margin: 3px;
}
button {

margin: 4px;
width: 150px;
height: 30px;
font-size: 18px;
font-family: monospace;
box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

